@model IList<Kusys.Entities.Student>;

@{
    Layout = "_Layout";
}
<div class="container mt-2">
<form method="post">
    <div class="form-group">
        <label for="">FirstName</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" aria-describedby="FirstName" placeholder="FirstName">
    </div>
    <div class="form-group">
        <label for="">LastName</label>
        <input type="text" class="form-control" name="LastName" id="LastName" placeholder="LastName">
    </div>
    <div class="form-group">
        <label for="">BirthDate</label>
        <input type="date" class="form-control" id="BirthDate" name="BirthDate">
    </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>

        <div class="form-group">
                <div style="padding-right:15px;">
                    <input type="radio" id="Admin" name="role" value="1" />
                <label for="Admin">Admin</label><br>
                    <input type="radio" id="User"  name="role" value="2" />
                <label for="User">User</label><br>
                </div>
        </div>
        <div class="form-group">
            @foreach (var skill in ViewBag.courses)
            {
                <div style="padding-right:15px;">
                    <input  id="@skill.CourseId" type="checkbox" name="skill" value="@skill.CourseId" />
                    <label  for="@skill.CourseId">
                        @skill.CourseName
                    </label>
                </div>
            }
        </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            

        });
    </script>
}