@{
    Layout = "_Layout";
}


<div class="container mt-auto">
    <p class="alert alert-danger" style="color:red;">
        Access Denied
        🚫  Bu işlem için yetkiniz bulunmamaktadır.
    </p>
    <p>
        <a class="nav-link alert-info" asp-controller="Student" asp-action="Index">
           Geri dön
        </a>
    </p>
</div>